
<!DOCTYPE html>
<html>

  <head>
    <title>系统公告</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    {style {self tempdir}css/css.css}
    {style {self tempdir}css/bootstrap.min.css}
    {style {self tempdir}css/font-awesome.min.css}
  </head>

  <body style="background: #ccc;">
    <div class="all_head"></div>
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#all_not" data-toggle="tab">所有公告</a>
      </li>
      <li>
        <a href="#inside_not" data-toggle="tab">内部公告</a>
      </li>
      <li>
        <a href="#news_not" data-toggle="tab">行内新闻</a>
      </li>
    </ul>
    <div style="padding: 10px 5px;">
      <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-search"></i></span>
          <input type="text" class="form-control" placeholder="查询内容">
        </div>
      </form>
    </div>
    <div id="myTabContent" class="tab-content not_tab">
      <ul class="tab-pane fade in active" id="all_not">
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
      </ul>
      <ul class="tab-pane fade" id="inside_not">
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
      </ul>
      <ul class="tab-pane fade" id="news_not">
        <li>
          <h1>震惊！这里竟然是标题，男生看了沉默，女生看了流泪。</h1>
          <p>2017-03-22 14:33</p>
          <div>浏览次数:<span>10</span>次</div>
          <span>震惊类</span>
        </li>
      </ul>
    </div>

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    {script {self tempdir}js/login.js}
    {script {self tempdir}js/jquery.js}
    {script {self tempdir}js/bootstrap.min.js}
  </body>

</html>