<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{config sitename} - 密码找回</title>
<meta name="keywords" content="{self keywords}" />
<meta name="description" content="{self description}" />
{template ../common}
{style {self tempdir}css/login.css}
{script {self tempdir}js/forgotpassword.js}
</head>
<body>
<div class="loginheader"></div>
<div class="logincontent">
  <div class="login-title"> <a href="javascript:;" class="current">重置密码</a> </div>
  <form name="postform" method="post" id="postform" enctype="multipart/form-data" onsubmit="return checkreset()">
    <table class="lotab">
      <tr>
        <th><label for="username">会员账号</label></th>
        <td>{self username}</td>
      </tr>
      <tr>
        <th> <label for="password"> 新的密码</label>
        </th>
        <td><input name="password" id="password" class="myinput" autocomplete="off" type="password" onblur="checkpassword()" onfocus="getpassword();" onkeyup="pwStrength(this.value)" />
          <span class="tips" id="passwordtip"></span>
          <div class="grade-pwd"> <span>密码强度：</span>
            <ul>
              <li class="block01"></li>
              <li class="block02"></li>
              <li class="block03"></li>
            </ul>
            <span class="grade-text"></span> </div></td>
      </tr>
      <tr>
        <th><label for="cpassword">确认密码</label></th>
        <td><input name="cpassword" id="cpassword" class="myinput" type="password"  onblur="checkcpassword()" onfocus="getcpassword();"/>
          <span class="tips" id="cpasswordtip"></span></td>
      </tr>
      <tr>
        <th></th>
        <td>{form('submit','重置密码','submit','','class=\'osLoginIptBtn\'')}</td>
      </tr>
    </table>
  </form>
</div>
<div class="loginfooter"></div>
{template ../footer}
</body>
</html>