<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>{config sitename} - 会员登录</title>
{template mobile_common}
{script {self tempdir}js/rotary.js}
<link rel="stylesheet" href="{self tempdir}images/alertify.css" />
<script type="text/javascript" src="{self tempdir}js/alertify.min.js"></script>
</head>
<body>
<div class="viewport">
  <div id="outercont">
    <div id="outer-cont">
      <div id="outer"> <img src="http://stc.weimob.com/img/web_bb/activity/activity-lottery-3.png"> </div>
      <div id="inner"> <img src="http://stc.weimob.com/img/web_bb/activity/activity-lottery-2.png"> </div>
    </div>
    <div id="showmdddd"></div>
  </div>
</div>
{template mobile_footnav}
</body>
</html>