<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>{config sitename} - 在线订餐</title>
{template mobile_common}
</head>
<body>
<header class="header">
  <nav> <a href="javascript:history.back();" class="back">返回</a> <span class="title">在线订餐</span> <a class="cate _right">分类</a></nav>
</header>
<div class="s_toplist" id="catelist">
  <!--{loop $this->get_type("caipin",100,'dingcan') $val}-->
  <a href="{echo Purl('?mod=mobile&act=food&typeid='.$val['id'])}">{$val['typename']}</a>
  <!--{/loop}-->
  <span></span>
</div>
<div class="viewport">
  <div class="newList_view">
    <!--{loop $this->sql_caipin(0,$_GET['typeid']) $value}-->
    <div class="newList">
      <div class="imgurl"><img  src="{self hempdir}images/spacer.png" data-original="{$value['goods_thumb']}" class="lazy"></div>
      <div class="content">
        <div class="name"><span class="favres" id="_favres_{$value['id']}" aid="{$value['id']}">{if $value['favres']}取消收藏{else}收藏餐品{/if}</span>{$value['name']}</div>
        <div class="price">
          <div id="_food_list_{$value['id']}">
          <!--{if $value['checked']}-->
          <span class="zero" onClick="javascript:addCart('{$value['id']}');"></span>
          <!--{else}-->
          已售完
          <!--{/if}-->
          </div>
          <strong>¥{$value['market']}</strong>
        </div>
      </div>
    </div>
    <!--{/loop}-->
  </div>
</div>
{template mobile_footnav}
</html>