<div id="header" class="clearBoth">
    <div class="logo"></div>
    <div class="slidetoggle">
        <i></i>
    </div>
    <ul class="side-menu clear">
        <li><a href="index.html"><div class="bg1"><i class="ico i1"></i></div>系统首页</a></li>
        <li><a href="help.html"><div class="bg2"><i class="ico i2"></i></div>站内信件</a></li>
        <li><a href="notice.html"><div class="bg3"><i class="ico i3"></i></div>登陆公告</a></li>
        <li><a href="income.html"><div class="bg4"><i class="ico i4"></i></div>资金明细</a></li>
        <li><a href="integral.html"><div class="bg11"><i class="ico i11"></i></div>积分商城</a></li>
        <li>
            <a href="javascript:;"><div class="bg5"><i class="ico i5"></i></div>人脉网络</a>
            <span>+</span>
            <ul class="menu-detail">
                <li><i class="menu-ico m1"></i><a href="">会员结构</a></li>
                <li><i class="menu-ico m1"></i><a href="">推荐结构</a></li>
                <li><i class="menu-ico m1"></i><a href="">推荐列表</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><div class="bg6"><i class="ico i6"></i></div>业务管理</a>
            <span>+</span>
            <ul class="menu-detail">
                <li><i class="menu-ico m2"></i><a href="register.html">注册会员</a></li>
                <li><i class="menu-ico m2"></i><a href="">会员升级</a></li>
                <li><i class="menu-ico m2"></i><a href="">报单中心</a></li>
                <li><i class="menu-ico m2"></i><a href="">我的会员</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><div class="bg7"><i class="ico i7"></i></div>财务管理</a>
            <span>+</span>
            <ul class="menu-detail">
                <li><i class="menu-ico m3"></i><a href="income.html">资金明细</a></li>
                <li><i class="menu-ico m3"></i><a href="">现金转账</a></li>
                <li><i class="menu-ico m3"></i><a href="">资金转换</a></li>
                <li><i class="menu-ico m3"></i><a href="">现金充值</a></li>
                <li><i class="menu-ico m3"></i><a href="">资金提现</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><div class="bg8"><i class="ico i8"></i></div>产品中心</a>
            <span>+</span>
            <ul class="menu-detail">
                <li><i class="menu-ico m4"></i><a href="product.html">产品订购</a></li>
                <li><i class="menu-ico m4"></i><a href="sell.html">订单管理</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><div class="bg9"><i class="ico i9"></i></div>账户设置</a>
            <span>+</span>
            <ul class="menu-detail">
                <li><i class="menu-ico m5"></i><a href="admin.html">基本信息</a></li>
                <li><i class="menu-ico m5"></i><a href="address.html">地址管理</a></li>
                <li><i class="menu-ico m5"></i><a href="newinfo.html">修改密码</a></li>
                <li><i class="menu-ico m5"></i><a href="newinfo.html">邮箱验证</a></li>
                <li><i class="menu-ico m5"></i><a href="newinfo.html">手机绑定</a></li>
            </ul>
        </li>
        <li style="border-color: transparent">
            <a href="login.html"><div class="bg10"><i class="ico i10"></i></div>退出登录</a>
        </li>
    </ul>
</div>