<div class="foot">
<div class="footnav">
  <a href="{url mobile_main}" {if $this->footnav=='main'}class="on"{/if}>首页</a>
  <a href="{url mobile_treeform}" {if $this->footnav=='treeform'}class="on"{/if}>结构</a>
  <a href="{url mobile_register}" {if $this->footnav=='register'}class="on"{/if}>注册</a>
  <a href="{url mobile_notice}" {if $this->footnav=='notice'}class="on"{/if}>公告</a>
  <a href="{url mobile_user}" {if $this->footnav=='user'}class="on"{/if}>会员</a>
</div>
</div>
<div class="load">正在加载...</div>