{template member_header}
<div id="main">
  <div class="left">{template member_left}</div>
  <div class="right">
    <div class="opencard_main">
      <!--{if $_GET['type']=='index'}-->
        <div class="mall-banner-box">
          <div class="mall-banner-items">
            <div class="mall-banner bg1">1</div>
            <div class="mall-banner bg2">2</div>
            <div class="mall-banner bg3">3</div>
            <div class="mall-banner bg4">4</div>
          </div>
          <span id="mall-right" class="mall-right"></span>
          <span id="mall-left" class="mall-left"></span>
        </div>
        <div class="mall-product-list">
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>1F</span>哈哈哈</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>2F</span>呃呃呃</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>3F</span>呃呃呃</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>4F</span>呃呃呃</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>5F</span>呃呃呃</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
          <div class="mall-product-item">
            <h4 class="mall-product-title"><span>6F</span>呃呃呃</h4>
            <div class="mall-product">
              <img src="" alt="商品1">
              <h6>商品名称</h6>
              <p>描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述
              </p>
              <span>价格</span>
              <button>买买买</button>
            </div>
            <div class="mall-product mall-later">
              <i></i>
              <h5>敬请期待</h5>
            </div>
          </div>
        </div>
        <div class="product-navBar">
          <div class="product-nav">1F</div>
          <div class="product-nav">2F</div>
          <div class="product-nav">3F</div>
          <div class="product-nav">4F</div>
          <div class="product-nav">5F</div>
          <div class="product-nav mall-lastNav">6F</div>
        </div>
        <div class="mall-toTop"></div>
      <!--{/if}-->
      <!--{if $_GET['type']=='order'}-->
       <!--{if $_GET['id']}-->
      <div class="xm-box uc-box">
        <div class="hd">
          <h3 class="title">订单号：{self order['orderid']}</h3>
        </div>
        <div class="bd">
          <div class="order-delivery-items">
            <div class="order-delivery-item">
              <table class="order-delivery-table">
                <thead>
                  <tr>
                    <th class="cell-order-goods">商品信息</th>
                    <th class="cell-order-total">订单积分</th>
                    <th class="cell-order-total">折后积分</th>
                    <th class="cell-order-actions">操作</th>
                  </tr>
                </thead>
                <tbody>
                <!--{eval $i=0;}-->
                <!--{loop $this->order['goods'] $val}-->
                  <tr>
                    <td class="cell-order-goods">
                        <div class="order-goods-info">{$val['goods_name']}</div>
                        <div class="order-goods-price">{echo $val['shop_price']*$val['point_rate']}</div>
                        <div class="order-goods-amount">x {$val['number']}</div>
                        <div class="order-goods-price">{echo $val['money']*$val['point_rate']}</div>
                    </td>
                    <!--{if $i==0}-->
                    <td rowspan="{echo count($this->order['goods'])}">{self order['money']}</td>
                    <td rowspan="{echo count($this->order['goods'])}">{self order['price']}</td>
                    <td rowspan="{echo count($this->order['goods'])}" class="cell-order-actions">
                    <span id="check_user_{self order['id']}" price="{self order['price']}">{echo order_checkjf_user($this->order)}</span></td>
                    <!--{/if}-->
                  </tr>
                  <!--{eval $i++;}-->
                <!--{/loop}-->                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="order-delivery-address clearfix">
            <div class="order-text-section-l">
              <h4>收 件 信 息 </h4>
              <table class="order-text-table">
                <tr>
                  <th>收件人名称</th>
                  <td>{self order['delivery']['name']}</td>
                </tr>
                <tr>
                  <th>收件人地址</th>
                  <td>{self order['delivery']['address']}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{self order['delivery']['mobile']}</td>
                </tr>
              </table>
            </div>
            <!--{if $this->order['express']}-->
            <div style="clear:both;">&nbsp;</div>
            <div class="order-text-section-l">
              <h4>发货信息 </h4>
              <table class="order-text-table">
                <tr>
                  <th>物流信息：</th>
                  <td>{self order['express']}</td>
                </tr>
                <tr>
                  <th>物流单号：</th>
                  <td>{self order['expressnumber']}</td>
                </tr>
                <tr>
                  <th>发货时间：</th>
                  <td>{echo formattime($this->order['ftime'])}</td>
                </tr>
              </table>
            </div>
            <!--{/if}-->
            <!-- {if $this->order['message']}-->
            <div style="clear:both;">&nbsp;</div>
            <div class="order-text-section-l">
              <h4>退货交流信息</h4>
              <div style="padding:0 0 0 25px;font-size:12px;line-height:22px;" id="_aq_">{self order['message']}</div>
            </div>
            <!--{/if}-->
          </div>
        </div>
      </div>
       <!--{else}-->
       <div class="track_title"> 
        <a href="{echo Purl(memberpre(1)."&type=order")}" class="{echo !$_GET['method'] ? 'menushow' : 'menu'}">全部订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=nopay")}" class="{echo $_GET['method']=='nopay' ? 'menushow' : 'menu'}">待付款订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=yespay")}" class="{echo $_GET['method']=='yespay' ? 'menushow' : 'menu'}">待发货订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=backnow")}" class="{echo $_GET['method']=='backnow' ? 'menushow' : 'menu'}">退款中订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=backed")}" class="{echo $_GET['method']=='backed' ? 'menushow' : 'menu'}">已退款订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=yessend")}" class="{echo $_GET['method']=='yessend' ? 'menushow' : 'menu'}">已发货订单</a> 
        <a href="{echo Purl(memberpre(1)."&type=order&method=yesdeal")}" class="{echo $_GET['method']=='yesdeal' ? 'menushow' : 'menu'}">已成交订单</a> 
       </div>
       <div class="member_mian">
        <form method="GET" action="">
          <input type="hidden" name="mod" id="mod" value="{$_GET['mod']}" />
          <input type="hidden" name="act" id="act" value="{$_GET['act']}" />
          <input type="hidden" name="type" id="type" value="{$_GET['type']}" />
          <input type="hidden" name="typeid" id="typeid" value="{$_GET['typeid']}" />
          <div class="ex_find">
            <div class="ex_text">订单编号</div>
            <div class="log_input_box">
              <input name="orderid" type="text" class="log_input" value="{$_GET[orderid]}" />
            </div>
            <div class="ex_text">查询日期</div>
            <div class="ex_time_box">{form('time',$this->t['str'],'datas')}</div>
            <div class="ex_button_box">
              <input type="submit" id="button" value="查&nbsp;&nbsp;询" class="find_button" />
            </div>
          </div>
        </form>
        <div class="info_bg">
          <div class="info_text">查询统计：总共有 <b class="text_red_line">{self pagetotal}</b> 条记录</div>
        </div>
        <table class="sheet">
          <tr>
            <th>订单编号</th>
            <th>产品列表(名称，单价，数量，小计)</th>
            <th>订单积分</th>
            <th>折后积分</th>
            <th>订购时间</th>
            <th>目前状态</th>
          </tr>
          <!--{loop $this->order $value}-->
          <tbody id="remove_{$value['id']}">
          <tr class="mybg">
            <td width="12%">{$value['orderid']}</td>
            <td class="order-delivery-table" style="width:40%">
              <!--{loop $value['goods'] $val}-->
               <div class="order-goods-info" style="padding-top:0;padding-bottom:0;">{$val['goods_name']}</div>
               <div class="order-goods-price" style="padding-top:0;padding-bottom:0;">{echo $val['shop_price']*$val['point_rate']}</div>
               <div class="order-goods-amount" style="padding-top:0;padding-bottom:0;">x {$val['number']}</div>
               <div class="order-goods-price" style="padding-top:0;padding-bottom:0;">{$val['money']}</div>
               <div style="clear:both;"></div>
              <!--{/loop}-->
            </td>
            <td width="10%" class="red">{$value['money']}</td>
            <td width="10%" class="red">{$value['price']}</td>
            <td width="10%">{$value['addtime']}</td>
            <td width="12%" style="line-height:24px;padding:10px 0;"><span id="check_user_{$value['id']}"  price="{$value['price']}">{echo order_checkjf_user($value)}</span>
            <br /><a href="{echo Purl("?mod=member&act=jfgoods&type=order&id=".$value['id'])}">订单详情</a></td>
          </tr>
          </tbody>
          <!--{/loop}-->
        </table>
        <!--{if !is_array($this->order)}-->
        <div class="no_info"><span class="no_info_ico"></span>暂无任何记录</div>
        <!--{/if}-->
        <!--{if $this->newpage}-->
        <div class="pages">{self newpage}</div>
        <!--{/if}-->
       </div>
       <!--{/if}-->
      <!--{/if}-->
      <!--{if $_GET['type']=='list'}-->
          <!--商品详情页-->
          {if $_GET['id']}
            <div class="shop-box">
              <div class="shop-left">
                <div class="img-wrap">
                  <div class="glass-mask" style="display: none"></div>
                  <div class="wrap-mask"></div>
                  <img src="https://gd4.alicdn.com/imgextra/i1/17080514/TB2KKlOjY8kpuFjy0FcXXaUhpXa_!!17080514.jpg_400x400.jpg_.webp" alt="" style="display: block">
                  <img src="" alt="商品1">
                  <img src="" alt="商品2">
                  <img src="" alt="商品3">
                </div>
                <ul class="shop-ul">
                  <li class="shopLi-active"><img src="" alt=""></li>
                  <li class=""><img src="" alt=""></li>
                  <li class=""><img src="" alt=""></li>
                  <li class=""><img src="" alt=""></li>
                </ul>
                <div class="glass" style="display: none">
                  <img src="https://gd4.alicdn.com/imgextra/i1/17080514/TB2KKlOjY8kpuFjy0FcXXaUhpXa_!!17080514.jpg_400x400.jpg_.webp" alt="">
                </div>
              </div>
              <div class="shop-right">
                <h5 class="shop-title">商品名称</h5>
                <div class="shop-intro">商品描述</div>
                <div class="shop-price-box">
                  <h6>666666</h6>
                  <p>6666</p>
                </div>
                <div class="shop-people">用户名</div>
                <div class="shop-num"><span class="shop-down">－</span>
                  <input type="text" name="shop-num" value="1" id="shop-num-input">
                  <span class="shop-up">＋</span>
                </div>
                <div class="shop-buy">立即购买</div>
              </div>
            </div>
            <div class="shop-bottom">
              <div class="shop-size">
                <ul class="shopSize-tap">
                  <li>商品详情</li>
                </ul>
                <div class="shop-size-box">
                  <div class="shop-size-detail">
                    <p>宽度：100公里</p>
                    <p>重量：100吨</p>
                    <p>用途：吃</p>
                    <p>适用年龄段：2-3个月老人</p>
                    <p>喵喵喵?：MDZZ</p>
                  </div>
                  <h6>描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                              描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈描述哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                          </h6>
                </div>
              </div>
              <div class="guessLike">
                <div class="guess-pro">
                  <img src="" alt="猜你讨厌">
                  <p>6666</p>
                </div>
                <div class="guess-pro">
                  <img src="" alt="猜你讨厌">
                  <p>6666</p>
                </div>
                <div class="guess-pro">
                  <img src="" alt="猜你讨厌">
                  <p>6666</p>
                </div>
                <div class="guess-pro">
                  <img src="" alt="猜你讨厌">
                  <p>6666</p>
                </div>
              </div>
            </div>
          {/if}
          {if !$_GET['id']}
          <div class="opencards_title">
            <div class="opencards_title_b">我的会员</div>
          </div>
          <div class="member_mian">
            <div class="info_bg">
              <div class="info_text">产品统计：总共有 <b class="text_red_line">{self pagetotal}</b> 条记录</div>
            </div>
            <form method="post"  name="goodsfrom" id="goodsfrom" action="" onsubmit="return checkform()">
            <table class="sheet">
              <tr>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>所需积分</th>
                <th>享受折扣</th>
                <th>实际积分</th>
                <!--<th>剩余库存</th>-->
                <th>订购数量</th>
                <th>积分小计</th>
              </tr>
              <!--{loop $this->record $value}-->
              <tr class="mybg">
                <td>{$value['goods_id']}<input type="hidden" name="goodsid[{$value['goods_id']}]" value="{$value['goods_id']}" ></td>
                <td>{$value['goods_name']}</td>
                <td class="red">{echo $value['shop_price']*$value['point_rate']}</td>
                <td>{self member['usergroup'][rebate]}%</td>
                <td class="red"> <span id="_price_{$value[goods_id]}">{echo intval($value['shop_price']*$this->member['usergroup'][rebate]*0.01*$value['point_rate'])}</span></td>
                <!--<td><span id="stock_{$value[goods_id]}">{$value['stock']}</td>-->
                <td>
                 <div class="change-goods-num clearfix changeGoodsNum">
                    <a href="javascript:_number(-1,{$value[goods_id]});"><span class="icon-common icon-common-negative"></span></a>
                    <input tyep="text" name="number[{$value['goods_id']}]" value="0" onblur="return _input(this,'{$value[goods_id]}');" class="goods-num" id="number_{$value[goods_id]}">
                    <a href="javascript:_number(1,{$value[goods_id]});"><span class="icon-common icon-common-add"></span></a>
                 </div>
                </td>
                <td class="red"><span id="price_{$value[goods_id]}" class="price_">0.00</span></td>
              </tr>
              <!--{/loop}-->
            </table>
            <div class="shop-cart-count">
              <div class="shop-cart-total">
                <p class="total-price">总计积分：<span><strong id='price'>0.00</strong>元</span></p>
              </div>
            </div>  
            <div class="xm-box">
              <div class="bd">
                <div class="xm-address-list" id="takeList">
                  <!--{loop $this->delivery $value}-->

                  <dl id="remove_{$value['id']}" onClick="settake('{$value['id']}');">
                  <H1>收货地址：</H1>
                    <dt><strong class="itemConsignee">{$value['name']}</strong> <span class="itemTel">{$value['mobile']}</span> </dt>
                    <dd>
                      <p class="itemStreet">{$value['address']} </p>
                      <span class="icon-common icon-common-del delete" onClick="listTable.memberRemove('{$value['id']}','确定要删除该收货信息?');"></span> 
                      <span class="icon-common icon-common-edit" onClick="addtack('{$value['id']}');"></span> 
                    </dd>
                  </dl>
                  <!--{/loop}-->
                </div>
              </div>
              <div style="clear:both;"></div>
            </div>
            {form('shop-cart-btns','现在去结账','submit','','class=\'shop-cart-btns\'')}
            <div class="shop-cart-btns nobtns">暂不订购了</div>
           </form>
            <!--{if !is_array($this->record)}-->
            <div class="no_info"><span class="no_info_ico"></span>暂无任何记录</div>
            <!--{/if}-->
            <!--{if $this->newpage}-->
            <div class="pages">{self newpage}</div>
            <!--{/if}-->
          </div>
          {/if}
      <!--{/if}-->

      <!--{if $_GET['type']=='capital'}-->
        <div class="track_title"> 
          <a href="{echo Purl("?mod=member&act=jfgoods&type=capital")}" class="{echo $_GET['method']=='main' ? 'menushow' : 'menu'}">积分明细</a> 
        </div>
          <div class="member_mian">
            <div class="info_bg">
              <div class="info_text">
                统计：总共有 <b class="text_red_line">{self pagetotal}</b> 条记录&nbsp;&nbsp;
                我的积分 <b class="text_red_line">&nbsp;{self member['good_point']}</b>
              </div>
            </div>
            <table class="sheet">
              <tr>
                <th>记录编号</th>
                <th>记录说明</th>
                <th>积分</th>
                <th>合计</th>
                <th>时间</th>
              </tr>
              <!--{loop $this->record $value}-->
              <tr class="mybg">
                <td>{$value['id']}</td>
                <td>{$value['content']}</td>
                <td class="red">{echo $value[1]['lognum'] ? $value[1]['lognum'] : "0.00"}</td>
                <td class="red">{echo formatnum($value[1]['lognum']+$value[2]['lognum']+$value[4]['lognum'])}</td>
                <td>{echo formattime($value['addtime'],'Y-m-d H:i:s')}</td>
              </tr>
              <!--{/loop}-->
            </table>
            <!--{if !is_array($this->record)}-->
            <div class="no_info"><span class="no_info_ico"></span>暂无任何记录</div>
            <!--{/if}-->
            <!--{if $this->newpage}-->
            <div class="pages">{self newpage}</div>
            <!--{/if}-->
          </div>
      <!--{/if}-->
    </div>
  </div>
</div>
</div>
{template member_footer}