@charset "UTF-8";
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 88;
    background: white;
}
/*.footer:after{*/
    /*content: "";*/
    /*display: block;*/
    /*clear: both;*/
/*}*/
.foot-nav{
    width: 100%;
}
.foot-nav li a{
    box-sizing: border-box;
    width: 20%;
    min-width: 60px;
    padding: 5px;
    float: left;
    line-height: 13px;
    color: #000;
}
.foot-nav li a i{
    display: block;
    margin: 0 auto 5px;
    width: 32px;
    height: 32px;
}
.footer .foot-nav .nav1{
    background: url("../images/ico.png") -120px -70px;
}
.footer .foot-nav .nav2{
    background: url("../images/ico.png") -123px -104px;
}
.footer .foot-nav .nav3{
    background: url("../images/ico.png") -121px -173px;
}
.footer .foot-nav .nav4{
    background: url("../images/ico.png") -120px -2px;
}
.footer .foot-nav .nav5{
    background: url("../images/ico.png") -120px -35px;
}
.foot-nav li p{
    text-align: center;
}
.top{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: -77%;
    color: white;
    background: #31a1d6;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 32px;
    z-index: 77;
}