@charset "UTF-8";
.index-cont{
    padding-bottom: 80px;
}
.carousel_img{
    width:100%;
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
    height:200px;
}
.car_img{
    width:100%;
    height:200px;
    position:absolute;
    top:0;
    left:0;
}
.carousel_index{
    position:absolute;
    top:180px;
    right:0;
    padding-right:24px;
    height:12px;
}
.carousel_icon{
    width:12px;
    height:12px;
    float:left;
}
.carousel_icon1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgba(255,255,255,1);
}
.carousel_icon2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgba(255,255,255,0.4);
}
.bs{
    background: white;
    padding: 1% 0 1% 1%;
    margin-top: 10px;
    line-height: 40px;
}
.bs-ico{
    float: left;
    width: 30px;
    height: 30px;
    background: orangered;
    position: relative;
    border-radius: 50%;
    margin: 5px 8px 0 8px;
}
.bs-ico i{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height:20px;
    background: url("../images/ico.png") -4px -191px;
}
.bs span{
    display: inline-block;
    box-sizing: border-box;
    width: 37px;
    border: 1px solid #ff1811;
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
    color: #ff1811;
}
.bs-cont{
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding-right: 2%;
    overflow: hidden;
}
.bs-cont a{
    display: none;
    color: black;
}
.bs .bs-cont a.bs-on{
    display: block;
}
.product{
    box-sizing: border-box;
    width: 100%;
    margin-top:5px;
    line-height: 40px;
    background: #fff;
    padding: 0 3%;
}
.product:after{
    content: '';
    display: block;
    clear: both;
}
.card-title{
    color: #ff7b7b;
    line-height: 40px;
    border-bottom: 1px solid #e2e2e2;
}
.right-more{
    float: right;
    color: #8f8f8f;
}
.pr-list{
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
}
.pr-list:after{
    content: "";
    display: block;
    clear: both;
}
.list-bg{
    width: 80px;
    height: 80px;
    float: left;
    background: url("../images/all.jpg") center;
    background-size: cover;
    margin: 10px 15px 0 0;
}
.pr-list h5{
    font-size: 16px;
    color: #353535;
}
.pr-list p{
    line-height: 16px;
    height: 43px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #8c8c8c;
}
.income{
    box-sizing: border-box;
    padding: 2%;
    width: 97%;
    line-height: 32px;
    margin: 10px auto 0;
    border-radius: 8px;
    background: #fff;
}
.income:after{
    content: "";
    display: block;
    clear: both;
}
.income-list span{
    float: right;
}
.income-list span:after{
    content: "元";
    margin-right: 5px;
    display: inline-block;
    clear: both;
}