/* */
@charset "utf-8";
html {
	scrollbar-face-color : #F5F5F5;
	scrollbar-arrow-color :#A0A0A0;
	padding:0 !important;
	padding:82px 0px 23px 0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
img {
	border: 0px;
}
img.operator {
	width:12px;
	height:12px;
	margin:0 6px 0 20px;
	cursor:pointer;
	vertical-align:middle
}
* {
	margin:0;
	padding:0;
}
fieldset, img {
	border:0;
}
li {
	list-style:none;
}
body, button, input, select, textarea /* for ie */ {
	font: tahoma, Helvetica, arial, "\5b8b\4f53", sans-serif;
sans-serif;
	vertical-align:middle;
	font-size:12px;
}
.ordtin{
	display: block;
}
#confirmstore{
    display: block;
    cursor: pointer;
    background: #00a1ff;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
    border: none;
    margin-left: 54px;
}
#cancestorepic{
	background: none;
    border: 1px solid #00a1ff;
    color: #00a1ff;
    padding: 5px 10px;
    cursor: pointer;
}
address, cite, dfn, em, var {
	font-style: normal;
}
code, kbd, samp {
	font-family: courier new, courier, monospace;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.38em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
	font-style: italic;
}
address, cite, dfn, em, var {
	font-style:normal;
}
caption, td {
	font-weight: normal;
	position: relative;
}
cite, blackquote, em, i {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
pre, code {
	font-family: monospace;
	font-size: 1.1em;
}
body {
	padding:82px 0px 23px 0px;
	padding:/**/0;
	height:100%;
	overflow: hidden;
	border: 0px;
	color:#997f41;
	font-size:14px;
	text-align: left;
	background:white url(bg.gif) repeat-y left top;
	background-attachment:fixed;
	font-family: '微软雅黑', 'Lucida Grande', 'Lucida Sans Unicode', '宋体', '新宋体', arial, verdana, sans-serif;
}
input {
	font-size:12px;
}
textarea {
	font-size:12px;
	line-height:22px;
	padding:0px 10px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
a {
	margin: 0px;
	padding:0px;
	border:0px;
	color:#997F41;
	text-decoration:none;
	outline:none;
blr:expression(this.onFocus=this.blur());
}
a:link {
	color:#997f41;
	text-decoration:none;
}
a:hover {
	color:#997f41;
	text-decoration:none;
}
.datainput {
	width:115px;
}
.area {
	width:19%;
	padding-left:10px;
	float:left;
	text-align:left;
}
.area span {
	cursor:pointer;
}
table.lotab {
	width:100%;
}
.lotab th {
	padding:16px 0 10px;
	font-size:14px;
	width:100px;
	font-weight:normal;
	text-align:right;
	color:#444;
	vertical-align:top;
}
.lotab td {
	padding:10px 8px;
	vertical-align:middle;
}
.lotab td p.myin-text {
	clear:both;
	color:#666;
	padding-top:3px;
}
.lotab td a {
	color:#506eaa;
	display:inline-block;
	width:auto;
	height:15px;
	line-height:15px;
	float:left;
	margin:9px 0 0 8px;
	margin:11px 0 0 8px\0;
}
.lotab td a.alink {
	font-size:14px;
	font-family:\5b8b\4f53;
	color:#516eaa;
	display:inline-block;
	vertical-align:top;
	margin:18px 0 0 20px;
}
input.myinput {
	width:165px;
	height:28px;
	height:14px\9;
	padding:9px 0 7px 10px\9;
	line-height:16px\9;
	padding-left:10px;
	border:1px solid #cfcfcf;
	background-repeat:repeat-x;
	background-position:0 -47px;
	float:left;
	font-size:14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align:middle;
}
#main {
	position: absolute!important;
	position: relative;
	top:82px!important;
	top:2px;
	bottom:23px;
	left:0px;
	right:0px;
	overflow-y:auto;
	z-index:98;
	overflow-x:hidden;
}
#top {
	position:absolute;
	top:0;
	width:100%;
	height:81px;
	background:#1A3E6E url(top-bg.gif) left top repeat-x;
}
#top #logo {
	float:left;
	width:160px;
}
#nav {
	float:left;
	position:absolute;
	left:170px;
	top:0;
	_top:3px;
	right:20px;
}
#nav p {
	height:51px;
	line-height:50px;
	color:white;
}
#nav p a {
	color:white;
}
.switch {
	float:right;
	width:auto;
	height:20px;
	line-height:20px;
	font-size:12px;
	position:absolute;
	top:45px;
	right:25px;
	z-index:99;
}
.nav a {
	float: left;
    display: block;
    height: 24px;
    line-height: 25px;
    _line-height: 30px;
    margin: 0px 10px 0px 5px;
    padding: 3px 17px;
    text-align: center;
    font-size: 12px;
    color: white;
    background: #997f41;
    font-weight: bolder;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav a:hover, .nav a.on {
	line-height:25px;
	_line-height:30px;
	color:#997f41;
	background: #fff;
	transition: .5s all;
}
.nav a.home {
	color:white;
	font-weight:bold;
	background:url(icon08.gif) right 9px no-repeat;
}
/* 左侧 */

#left {
	width:160px;
	top:82px!important;
	top:0px;
	bottom:23px;
	position:fixed !important;/*ie7 ff*/
	position:absolute;
	z-index:99;
	background:#d6d6d6;
	height:auto!important;
	height:100%;
	overflow: auto;
}
#menu {
	padding-top:6px;
	color:#3d3d3d;
}
#menu dt {
	height:38px;
	line-height:38px;
	margin-right:3px;
	font-size:12px;
	font-weight:bold;
	padding-left:30px;
	background:url(icon02.png) 8px center no-repeat;
}
#menu dt img {
	margin-left:10px;
}
#menu dd {
	height:30px;
	line-height:30px;
	margin-right:3px;
	font-size:12px;
}
#menu dd a {
	display:block;
	height:30px;
	padding-left:30px;
	background: url(icon-other.png) 10px center no-repeat;
	transition: all .3s;
}
#menu dd a:hover {
	padding-left: 50px;
	background:#fff;
	transition: .5s all;
}
#menu dd.on {
	margin-right:0px;
	color:#523e0c;
	border-top:1px solid #9e982e;
	border-bottom:1px solid #9e982e;
	/*

  border-top:1px solid #9e982e;

  border-bottom:1px solid #92AEC3;

  */

  background:#fff;
}
#menu dd.on a {
	padding-left: 50px;
	background:none;
}
#menu dd.on a {
	color:#523e0c;
}
#right {
	position:absolute;
	left:160px;
	top:36px;
	right:0;
	padding:0px;
	width:auto;
	border-left:10px solid #fff;
	background:#EBF8FF;
	height:auto!important;
	height:100%;
	overflow: auto;
}
.right {
	margin-left:1px;
	padding:10px;
	/*border-left:1px solid #C7CED4;*/
	background:white;
	width:auto;
	height:auto!important;
	height:100%;
	overflow: auto;
}
#position {
	height:36px;
	line-height:36px;
	padding:0px 5px 0px 40px;
	background:#fff;
	color:#997f41;
	position:fixed !important;/*ie7 ff*/
	position:absolute;
	top:81px;
	_top:84px;
	left:160px;
	right:0px;
	z-index:99;
	font-size:12px;
}
#position a {
	float:right;
	display:block;
	width:80px;
	height:20px;
	line-height:20px;
	margin:6px 5px 0px;
	border:1px solid #ccc;
	background:url(nav-a-hover.gif) right top repeat-x;
	text-align:center;
	font-size:12px;
}
.clear {
	clear:both;
}
#top {
	position:fixed !important;/*ie7 ff*/
	position:absolute;
	z-index:99;
	width:100%;
	background:url(header_bg.jpg);
}
#footer {
	position:absolute;
	bottom:0;
	z-index:99;
	width:100%;
	height:23px;
	line-height:23px;
	background:#fff;
	text-align:right;
	overflow:hidden;
	font-size:10px;
	color:#ccc;
	font-weight:normal;
}
#footer a {
	color:#ccc;
	padding-right:20px;
}
#table {
	font-size:12px;
	_width:100%;
}
#table .left {
	width:150px;
	text-align:right;
	padding-right:10px;
	font-weight:bolder;
}
.red {
	color:#F30;
}
.blank5, .blank10, blank20 {
	clear: both;
	height: 5px;
}
.blank10 {
	height:10px;
}
.blank20 {
	height:20px;
}
.blank30 {
	height: 30px;
}
.padding10 {
	padding: 10px;
}
/************* 分页 */



.page {
	clear:both;
	margin:10px 0px 0px;
}
.page strong {
	color:#FFF;
	display:block;
	float:left;
	height:18px;
	line-height:18px;
	float:left;
	padding:0px 8px;
	background:#ccc;
	border:1px solid #ccc;
	margin: 0px 3px 0px 0px;
}
.page a {
	display:block;
	float:left;
	height:18px;
	line-height:18px;
	float:left;
	padding:0px 8px;
	border:1px solid #CCC;
	text-decoration:none;
	margin: 0px 3px 0px 0px;
	color:#555;
}
.page span {
	float:right;
}
.tags {
	height:auto;
	width:100%;
	float:left;
	border: solid 1px #997f41;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
#tagstitle {
	height:32px;
	background:url(box_bg.png) left top repeat-x;
}
#tagstitle a {
	display:block;
	border-right:1px solid #997f41;
	width:auto;
	padding:0px 20px;
	text-align:center;
	float:left;
	list-style:none;
	height:32px;
	line-height:32px;
	font-size:12px;
	color:#997f41;
}
#tagstitle a.hover {
	text-decoration:none;
	background:white url(tagstitle_a_bg.gif) repeat-x left top;
	font-weight:bold;
	color:#523e0c;
}
#tagscontent {
	border-top:none;
	padding:20px;
	height:auto;
	font-size:12px;
	color:#666;
}
/*#tagscontent ul {
	width:auto;
	border-bottom:1px solid #e8eef6;
	height:38px;
	line-height:38px;
}
#tagscontent li {
	width:auto;
	float:left;
	margin-right:20px;
}*/
.skey {
	border:1px solid #997f41;
	width:300px;
	line-height:20px;
	height:20px;
	background:#fbfdff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.skey1 {
	width:150px;
}
.w120{
	width:120px;
}
.select1 {
	border:1px solid #997f41;
	width:auto;
	height:20px;
	line-height:24px;
	margin-top:4px;
}
.textarea1 {
	border:1px solid #997f41;
	width:300px;
	height:60px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
#tagscontent tr {
	line-height:36px;
	height:auto;
	clear:both;
}
#tagscontent td {
	border-bottom: 1px solid #f3d48a;
}
#submit {
	width:50px;
	height:25px;
	background:#e0e8f3;
	border:1px solid #a9bdd8;
	color:#133366;
	margin:5px 10px 5px 0px;
	font-size:12px;
	cursor:pointer;
	font-weight:bolder;
}
.tips, .tips a {
	color:#CCC;
}
span.tipser {
	background:url(cuo2.gif) no-repeat 5px 0;
	padding-left:25px;
	color:#037ABD;
}
span.tipsno {
	background:url(a2.gif) no-repeat 5px 0;
	padding-left:25px;
	color: #F00;
}
span.tipsyes {
	background:url(a1.gif) no-repeat 5px 0;
	padding-left:25px;
	color: #F00;
}
/************* 首页右边内容 */

.homecon {
	height:auto;
	width:100%;
}
#homecon_left {
	width:49.5%;
	float:left;
	height:auto;
	border:1px solid #C5CDC4;
	background:url(box_bg.png) left top repeat-x;
}
.homecon_lefttit {
	line-height:30px;
	height:30px;
	padding-left:10px;
	border:1px solid #fff;
}
.homecon_leftcon {
	line-height:30px;
	height:auto;
	padding:10px;
	font-size:12px;
}
#homecon_right {
	width:49.5%;
	float:right;
	height:auto;
	border:1px solid #C5CDC4;
	background:#F1F4F7 url(box_bg.gif) left top repeat-x;
}
#table_k {
	width:auto;
	overflow:hidden;
}
#table_k tr {
	border-bottom:1px solid #ccc;
	height:auto;
	line-height:36px;
}
.table_td th, #table th {
	background: #fffeec;
    border-top: 1px solid #f3d48a;
    border-left: 1px dashed #F3D48A;
    line-height: 32px;
    text-align: center;
}
.table_td {
	width:auto;
	height:auto;
}
.table_td tr td {
	line-height:32px;
}
.child {
	display:block;
	width:14px;
	height:32px;
	float:right;
	cursor:pointer;
	margin-right:20px;
	background:url(child.gif) left 12px no-repeat;
}
/*按钮*/

input, #table input, textarea {
	font-size:12px;
	line-height:22px;
	height:22px;
	padding:0px 10px;
}
#table input#grade {
	margin:0px 5px;
}
#table input#attr1 {
	margin:0px 5px;
}
#table #site_logo_upload, #table #onerror_pic_upload, #table #pics0_upload, #thumb_upload, #fileupload, #pics0_upload, #banner_upload, #image_upload, #table #image_upload, #image {
	border:none;
	background:none;
}
#ishtml, #grade, #checked, #ishot, #isnav {
	margin:0px 5px;
}
 #attr1[] {
margin:0px 5px;
}
textarea, textarea#sendmail, textarea#attr1 {
	height:auto;
}
.button {
	width:auto;
	height:24px;
	background:#e0e8f3;
	border:1px solid #a9bdd8;
	color:#133366;
	margin:5px 10px 5px 0px;
	font-size:12px;
	padding:1px;
}
#message {
	height:26px;
	line-height:26px;
	padding:0px 10px;
	background:#e4eef7;
	border:1px solid #c3d3e2;
	width:auto;
}
input, #table input {
	font-size:12px;
	line-height:22px;
	height:22px;
	padding:0px 5px;
}
.button {
	background:url(buttom_bg.gif) right bottom no-repeat;
	height:24px;
	line-height:18px;
	cursor:pointer;
	text-align:center;
	padding:2px 10px;
	border:1px solid #997f41;
	color:#395366;
	overflow:hidden;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.urltips {
	padding-left:22px;
	background:url(cuo.gif) left center no-repeat;
	color:#CCC;
}
a.urltips {
	color:#CCC;
}
/* 模板列表 */

#template {
	clear:both;
}
#template .template_box {
	float:left;
	margin:0 12px 10px;
	width:218px;
	height:220px;
	margin:5px 6px;
	overflow:hidden;
	text-align:center;
	display:block;
	position:relative;
	line-height:1em;
}
#template .img-wrap {
	position:static;
	width:214px;
	height:150px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
*display:block;
*font-size:150px;
*font-family:Arial;
	overflow:hidden;
}
#template .img-wrap img {
	max-width:198px;
	max-height:150px;
	vertical-align:middle;
	padding:5px;
	border:1px solid #CCC;
	_width:198px;
	_height:150px;
	_border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#template div img:hover, #list-view .highlight {
	border-color:#CCC;
}
#template .t_box {
	height:170px;
	width:216px;
	_border:1px solid #CCC;
	overflow:hidden;
}
.box ul {
	margin-top:0px;
	margin:0 auto;
}
.box1 a {
	height:30px;
	line-height:30px;
	padding-left:20px;
	margin:0px 8px;
	background: url(edit2.gif) left center no-repeat;
	float:left;
	display:inline;
	white-space: nowrap;
}
/* 内容页多图 */

#pics0_preview img, #pics1_preview img, #pics2_preview img, #pics3_preview img, #pics4_preview img, #pics5_preview img, #pics6_preview img, #pics7_preview img, #pics8_preview img, #pics9_preview img, #pics10_preview img, #pics11_preview img {
	width:300px;
}
#content-recommend input {
	margin-left:6px;
}
.datefmt {
	width:160px;
}
#uploadPic {
	padding:20px 80px;
	height:auto;
}
#uploadPic ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	border:0;
	float:left;
}
#uploadPic li {
	float:left;
	width:82px;
	height:88px;
	margin:0 5px 5px 0;
	padding-bottom:3px;
	overflow:hidden;
	background:#eee;
	position:relative
}
#uploadPic .displayimg {
	width:76px;
	height:60px;
	border:1px solid #ccc;
	overflow:hidden;
	background:#fff;
	padding:2px;
	text-align:center;
	vertical-align:middle;
}
#uploadPic .displayimg img {
	width:76px;
	height:60px;
}
#uploadPic .previous {
	display:inline-block;
	width:13px;
	height:12px;
	background:url(pre-next-delete.gif) no-repeat 0 -7px;
	line-height:100px;
	vertical-align:middle;
	overflow:hidden;
	margin:-12px 33px 0 12px;
	margin:7px 33px 0 12px\9;
*margin:7px 33px 0 12px;
	_margin:7px 33px 0 12px;
}
#uploadPic .previous:hover {
	background:url(pre-next-delete.gif) no-repeat 0 -19px;
}
#uploadPic .previous:active {
	background:url(pre-next-delete.gif) no-repeat 0 -7px;
}
#uploadPic .next {
	display:inline-block;
	width:13px;
	height:12px;
	background:url(pre-next-delete.gif) no-repeat -14px -7px;
	line-height:100px;
	vertical-align:middle;
	overflow:hidden;
	margin:-12px 0 0;
	margin:7px 0 0\9;
*margin:7px 0 0;
	_margin:7px 0 0;
}
#uploadPic .next:hover {
	background:url(pre-next-delete.gif) no-repeat -14px -19px;
}
#uploadPic .next:active {
	background:url(pre-next-delete.gif) no-repeat -14px -7px;
}
#uploadPic .delete {
	display:block;
	width:13px;
	height:12px;
	background:url(closeyes.gif) no-repeat 0 0;
	line-height:100px;
	overflow:hidden;
	position:absolute;
	top:3px;
	right:3px;
	z-index:999
}
#uploadPic .delete:hover {
	background:url(close-hover.gif) no-repeat 0 0;
}
#uploadPic .front-cover {
	position:absolute;
	bottom:5px;
    *bottom:-8px;
	left:30px;
	color:#666
}
#uploadPic div {
	clear:both;
}
#uploadPic input.picDesc {
	width:80px;
*width:78px;
	text-align:center;
	margin:0;
	border:1px solid #7F9DB9;
	margin-top:2px;
	display:none;
}
#uploadPic span.upload_error {
	background-color:#FFD7D7;
	color:#000;
	padding:4px;
	font-family:Tahoma;
	line-height:24px;
}
#upload_tip {
	padding-left:15px;
	height:27px;
	line-height:27px;
}
#upload_tip span {
	color:#F30
}
.purviews {
	padding:10px 300px 10px 10px;
}
.purviews p{
	line-height:18px;
}
.purviews span {
	font-variant:normal;
	display:block;
	float:left;
	width:12%;
}
.jindubox {
	width:500px;
	margin:0 auto;
	height:30px;
	background: #CCC;
}
.jindu {
	color:#FFF;
	font-size:12px;
	font-weight:bolder;
	background:url(bfbg.gif) left top repeat-x;
	height:30px;
}
.baifenhao {
	position:absolute;
	height:30px;
	margin-top:-30px;
	margin-left:230px;
	color:#FFF;
	text-align:center;
	line-height:30px;
	font-size:18px;
}
.border_table {
	border-width:1px;
	margin:10px 5px;
	background:#fff;
}
.border_table th, .border_table td {
	border:1px solid #e1e1e1;
	vertical-align:middle;
	padding:5px 10px 5px;
	white-space:nowrap;
	word-break:keep-all
}
.border_table th, .border_table td.non {
	width:auto;
}
.border_table td.attr {
	white-space:pre-wrap;
}
.border_table thead th {
	color:#333;
	text-align:center;
	background:url(admin_bg.gif);
	padding:0px 10px;
}
.border_table tbody th {
	padding-right:5px;
	text-align:right;
	color:#707070;
}
.border_table .spec_pic {
	margin-bottom:5px
}
.border_table label {
	color:#777
}
.btn {
	border:1px #e1e1e1 solid;
	color:#707070;
	cursor:pointer;
	height:28px;
	line-height:28px;
	overflow:hidden;
	background:url(add.jpg) 5px 5px no-repeat;
}
button span.add {
	padding-left:25px;
	padding-right:10px;
}
.tab {
	height:30px;
	line-height:30px;
	margin:0 0 10px 0;
	border-bottom:1px #e1e1e1 solid;
	position:relative;
}
.tab li {
	float:left;
	width:85px;
	height:29px;
	margin:0px 2px 0 5px;
	border:1px #e1e1e1 solid;
	border-bottom:0;
	background:url(admin_bg.gif) repeat-x 0 -590px;
	_background-position:0 -227px;
	_margin-bottom:-1px;
	_border-top:0;
	text-align:center;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.tab li.selected {
	background-image:none;
	border-bottom:1px solid #fff;
	margin-bottom:-1px;
	_border-top:1px
}
.tab li a:link, .tab li a:visited, .tab li a:hover, .tab li a:active {
	display:block;
	width:85px;
	height:22px;
	color:#767676;
	outline:none
}
.tab li.selected a {
	color:#f77b09
}
.tab .tabright {
	position:absolute;
	top:-3px;
	right:-10px;
}
.upload_btn {
	display:inline;
	padding:2px 0 5px 5px;
*padding:0 0 0 5px;
	border: 1px solid #e1e1e1;
	background: url(admin_bg.gif) repeat-x scroll 0 -198px transparent;
	color: #707070;
	cursor: pointer;
	overflow: hidden;
}
.swfupload {
	vertical-align: middle;
	margin:0;
	padding:0;
}
input.middle {
	height:22px;
	line-height:22px;
	padding-left:5px;
	width:210px;
	border:1px #d7d7d7 solid;
	margin-right:5px
}
h4.fenlan {
	padding:0px;
	font-family:tahoma, arial, 宋体;
}
h4.fenlan div {
	background-image:url(detail_icon.png);
	background-color:white;
	color:#1f1f1f;
	font-size:12px;
	height:40px;
	line-height:26px;
}
table.cart_table {
	border-collapse:collapse;
	border:1px solid #c5c5c5
}
table.cart_table caption {
	padding:18px 0 8px 15px;
	text-align:left;
	font-size:14px;
	color:#4a4a4a;
	font-weight:bold;
}
table.cart_table thead th {
	height:34px;
	background:#f5f5f5;
	color:#555455;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd
}
table.cart_table thead th.last {
	border-right:1px solid #c5c5c5
}
table.cart_table tbody td {
	height:86px;
	border-bottom:1px solid #dfdfdf;
	color:#6f6f6f
}
table.cart_table img {
	width:66px;
	height:66px;
	border:1px solid #c2c2c2;
	padding-bottom: 10px;
	border: 0;
}
table.cart_table tr.stats td {
	height:40px;
	border-bottom:none;
	background-color:#f3f3f3;
	text-align:right;
	font-size:14px;
	font-weight:bold
}
table.cart_table tr.stats td b {
	margin-right:10px;
	font-size:16px
}
table.cart_table tr.stats td span {
	margin-right:10px;
	color:#1a66b3;
	font-size:12px
}
table.cart_table tfoot td {
	height:86px
}
table.cart_table td a.file, table.cart_table td a.del {
	margin-left:20px;
	padding-left:20px;
	background:url(images/sprite.gif) -65px -331px no-repeat
}
table.cart_table td a.del {
	background-position:-65px -345px
}
.t_c {
	text-align:center
}
.orderback a {
	cursor:pointer;
	background: #ffa500;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
}
.ordersend a {
	cursor:pointer;
    background: #00a1ff;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
}
.orderok  a {
	cursor:pointer;
	background: #6fc160;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
}
.noorderback a {
	cursor:pointer;
	background: #ff0000;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
}
.nopicture a {
	cursor:pointer;
	background: #ff0000;
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
}
#allmap {
	width:700px;
	height:500px;
	text-align:center;
	line-height:500px;
	overflow:hidden;
	margin:10px;
	border:#ccc 1px solid;
}
.noborders {
	border:none;
}
.noborders tr {
	border: none;
}
.noborders td {
	border: none;
}
.tdleft {
	width:120px;
}
.tdleft2 {
	width:60px;
}
.tdcontent {
	width:200px;
	border:0;
}
.tdcontent span {
	cursor:pointer;
}
.tdcontent input {
	width:20px;
}
#treeform tr {
	line-height: normal;
	height: auto;
	clear: none;
}
#treeform td {
	border-bottom:0;
}
.tad td {
	padding:6px 0;
}
table.t_info {
	width:175px;
	background:#006600;
	border-collapse:collapse;
	border:1px solid #006600;
}
table.t_info tr {
	border:0;
}
table.t_info th {
	color:#FFF;
	text-align:center;
	height:25px;
	line-height:25px;
	border-top:0;
	border:1px solid #006600;
	background: none;
}
table.t_info th a {
	color:#FFF;
}
table.t_info ._span {
	color:#F00;
	cursor:pointer;
}
table.t_info ._span:hover {
	text-decoration:underline;
}
table.t_info td {
	height:20px;
	background:#FFFFFF;
	text-align:center;
	border:1px solid #006600;
	line-height:20px;
}
th.tleft, td.tleft {
	text-align:left;
	padding-left:10px;
}
input.datatime{
	width:90px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
table.database{
	width:95%;
	margin:15px auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
table.database th.right,table.database td.right{
	padding:0;
	border-left:1px solid #C7CED4;
	padding-left:10px;
	text-align:left;
	height:15px;
}
table.database th._right,table.database td._right{
	border-right:1px solid #C7CED4;
}
td.noborder{
	border:0;
}
.lookcontent{
}
.lookcontent h1{
	font-size:12px;
	height:30px;
	line-height:30px;
	padding-left:15px;
	padding-top:5px;
}
.lookcontent p{
	font-size:12px;
	padding:0 20px 10px 25px;
	line-height:20px;
}
textarea.textarea{
    width:230px;color:#666;border:1px solid #cfcfcf;height:65px;padding:5px;background-color:#fafafa;box-shadow:2px 2px 2px #ededed inset;float:left;	
}
input.textarea{
	width:230px;
}
tr.trhover{
	background:#FFF;
}
tr.trhover:hover{
	background:#F5F5F5;
}
table.userlist tr td{
	line-height:20px;
	padding-left:10px;
	padding:5px 0 5px 5px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
table.userlist tr td p{
	clear:both;
}
table.userlist tr td p em{
	font-style:normal;
	width:65px;
	text-align:right;
	display:block;
	float:left;
	vertical-align:middle;
}
table.userlist tr td p img{cursor:pointer;vertical-align:middle}
table.userlist tr td.rmb p a{
	background:url(rmb.gif) 0 2px no-repeat;
	padding-left:12px;
}
table.userlist tr td p i.email{
	background:url(echeck.gif) 0 0 no-repeat;
	padding-left:15px;
}
table.userlist tr td p i.phone{
	background:url(mcheck.gif) 0 0 no-repeat;
	padding-left:14px;
}
table.userlist tr td.checkstatus{
	padding:0 20px;
}

.lotab .textarea {
    width:168px;color:#666;border:1px solid #cfcfcf;height:40px;padding:5px;background-color:#fafafa;float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#drop_down{
	display: none;
}
#drop_down ul li{
	padding: 10px 0;
	height: 26px;
	float: left;
	width: 18%;
	text-align: center;
	border-bottom: 1px solid #efedcf;
	line-height: 26px;
}
.to_left{
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 35px;
	top: 9px;	
	cursor: pointer;
	line-height: 10px;
	font-size: 18px;
}
