@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.all_head{
	width: 100%;
	height: 45px;
}
/*-------------------------------登录页面----------------------------*/
.log_head{
	width: 100%;
	height: 45px;
}
.log_head span{
	width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
}
.log_head span:before{
	width: 13px;
	height: 13px;
	display: inline-block;
	content: "";
	margin-top: 16px;
	border-left: 2px solid #099fde;
	border-bottom: 2px solid #099fde;
	transform: rotate(45deg);
	
}
.log_head p,.log_input,.log_but,.login_forget{
	padding: 0 25px;
}
.log_head p{
	text-align: center;
	line-height: 45px;
	font-size: 15px;
	float: right;
	cursor: pointer;
	color: #099fde;
}
.login_title{
	margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: #333;
    line-height: 25px;
    font-weight: normal;
}
.log_input{
	margin-top: 50px;
}
.log_input li{
	width: 100%;
	height: 54px;
	position: relative;
}
.log_input li input{
	height: 54px;
    line-height: 24px;
    padding: 15px 0;
    color: #333;
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
}
.log_but{
	margin-top: 30px;
}
.login_forget{
	margin-top: 15px;
}
.log_forget{
	font-size: 15px;
	float: right;
}

/*-----------------------------------系统公告页面--------------------------------------*/
.nav-tabs>li>a{
	background: #fff;
	color: #666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #fff;
	background: #337ab7;
}
.nav-tabs>li{
	width: 33.3333%;
	text-align: center;
}
.not_tab ul{
	padding: 10px 5px;
	padding-top: 0;
}
.not_tab ul li{
	width: 100%;
	background: #fff;
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	margin-bottom: 10px;
}
.not_tab ul li h1{
	width:65%;
	margin: 0;
	margin-bottom: 18px;
	font-size: 18px;
}
.not_tab ul li p{
	position: absolute;
	font-size: 12px;
	top: 10px;
	right: 10px;
}
.not_tab ul li div{
	font-size: 13px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.not_tab ul li>span{
	font-size: 13px;
	position: relative;
	bottom: 10px;
	left: 20px;
}
