@charset "UTF-8";
#header{
    width: 100%;
    background: #4dc6ee;
    left: 0;
    top:0;
    box-sizing: border-box;
    /*margin-top:5px;*/
}
#header:after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    width: 40%;
    height:40px;
    background: url("../images/loginheader4.png") center;
    background-size: cover;
    float: left;
}
.slidetoggle i {
    float: right;
    margin: 10px 16px 0 0;
    width: 20px;
    height: 20px;
    background: url(../images/ico.png)no-repeat -33px -183px;
 }
.side-menu{
    display: none;
    width: 100%;
    box-sizing: border-box;
    right: 0;
    top: 40px;
    position: absolute;
    background: white;
    padding: 0 5%;
    z-index: 99;
}
.side-menu>li{
    border-left: 2px solid transparent;
    line-height: 50px;
    border-bottom: 1px solid #f1f4f7;
    position: relative;
}
.side-menu>li>span{
    color: #d1d1d1;
    position: absolute;
    width: 20px;
    text-align: center;
    font-size: 30px;
    right:10px;
    top: 0;
}
.side-menu>li>a{
    color: #767676;
    display: inline-block;
    width: 100%;
}
.side-menu>li>a>div{
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    margin: 9px;
}
.side-menu>li div i.ico{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url("../images/ico.png") no-repeat;
}
.side-menu>li div i.i1{
    background-position: -5px -113px;
}
.side-menu>li div i.i2{
    background-position: -4px -59px;
}
.side-menu>li div i.i3{
    background-position: -4px -192px;
}
.side-menu>li div i.i4{
    background-position: -5px -165px;
}
.side-menu>li div i.i5{
    background-position: -5px -138px;
}
.side-menu>li div i.i6{
    background-position: -30px -94px;
}
.side-menu>li div i.i7{
    background-position: -29px -28px;
}
.side-menu>li div i.i8{
    background-position: -30px -73px;
}
.side-menu>li div i.i9{
    background-position: -30px -137px;
}
.side-menu>li div i.i10{
    background-position: -30px -6px;
}
.side-menu.menu-detail{
    box-sizing: border-box;
    padding: 2%;
}
.side-menu>li a .bg1{
    background: #ff5abf;
}
.side-menu>li a .bg2{
    background: #ff914e;
}
.side-menu>li a .bg3{
    background: #a056ff;
}
.side-menu>li a .bg4{
    background: #5e62ff;
}
.side-menu>li a .bg5{
    background: #ff7677;
}
.side-menu>li a .bg6{
    background: #ff53c3;
}
.side-menu>li a .bg7{
    background: #10b377;
}
.side-menu>li a .bg8{
    background: #2653ff;
}
.side-menu>li a .bg9{
    background: #4dc6ee;
}
.side-menu>li a .bg10{
    background: #e4a933;
}
.side-menu .menu-detail{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    display: none;
}
.side-menu .menu-detail li{
    width: 100%;
    padding-left:1%;
}
.side-menu .menu-detail li .menu-ico{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}
.side-menu .menu-detail li .m1{
    background: #ff7677;
}
.side-menu .menu-detail li .m2{
    background: #ff53c3;
}
.side-menu .menu-detail li .m3{
    background: #10b377;
}
.side-menu .menu-detail li .m4{
    background: #2653ff;
}
.side-menu .menu-detail li .m5{
    background: #4dc6ee;
}
.side-menu .menu-detail li a{
    color: black;
    display: inline-block;
    width: 90%;
}