{template mobile_header}
<div id="main">
  <div class="left">{template mobile_left}</div>
  <div class="right">
    <div class="opencard_main">
      <div class="track_title"> 
        <!--{loop $this->getabout($this->about['typeid']) $val}-->
        <a href="{$val['mobileurl']}" class="{echo $this->about['id']==$val['id'] ? 'menushow' : 'menu'}">{$val['name']}</a> 
        <!--{/loop}-->   
      </div>
      <div class="article">
        <h1>{self about[name]}</h1>
        <div class="content">{self about['content']}</div>
      </div>
  </div>
</div>
</div>
{template mobile_footer}