<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Title</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/jquery-1.8.3.js"></script>
    <script src="../js/footer.js"></script>
</head>
<body>
<div class="footer">
    <ul class="foot-nav">
        <li>
            <a href="index.html">
                <i class="nav1"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="nav2"></i>
                <p>产品</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="nav3"></i>
                <p>发现</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="nav4"></i>
                <p>订单</p>
        </a>
        </li>
        <li>
            <a href="admin.html">
                <i class="nav5"></i>
                <p>账户</p>
            </a>
        </li>
    </ul>
    <div class="top">⇧</div>
</div>
</body>
</html>