<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理登录 - Powered by {config sitename}</title>
{style {self tempdir}images/login.css}
{script {self appdir}jquery.js,{self appdir}function.js}
</head>
<body>
<div id='top'>
  <div class="logo"></div>
</div>
<div id='con'>
  <div class="login">
    <form name="loginform" method="post" action="">
      <p> {if is_array({self member})}
        当前用户：{member username} (<a href="{url member_logout}">退出</a>){form('username',{member username},'hidden','','')}
        {else} <span>用户名：{form('username','','input','','class=\'input\'')}</span> {/if} </p>
      <p><br />
        <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：{form('password','','password','','class=\'input\'')}</span></p>
      <p><br />
        <span  class="code">验证码：{form('seccode','','input','','size=\'8\' class=\'seccode\'')} </span>{echo config::seccode()}</p>
      <p><br />
        {form('submit',' 登 陆 ','submit','','class=\'sublogin\'')}</p>
    </form>
  </div>
  <div class="foot"> </div>
</div>
</body>
</html>